{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block user_login %}
    <!--h1>{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</h1-->

    <div class="row">
        <div class="span6">
            <div class="logo-vlearning-login">
                <img src="{{ asset('bundles/applicationsubscriber/images/logo-V-learning.png') }} "/>
            </div>
            <div class="logo-movistar-login">
                <p>Auspiciado por:</p>
                <img src="{{ asset('bundles/applicationsubscriber/images/logo-movistar.png') }} ">
            </div>
        </div>
        <div class="span6">
            <div class="logo-ICPNA-login"><img src="{{ asset('bundles/applicationsubscriber/images/logo-ICPNA.png') }} "/></div>
            <div id="form_wrapper" class="form_wrapper">
                <form action="{{ path('login_check') }}" method="post" class="login active">
                    <h3>Ingresar</h3>
                    {% if error %}
                        <div class="alert alert-danger alert-error">
                            {{ error|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endif %}
                    <div>
                        <label for="username">Usuario:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        <span class="error">Hay un error</span>
                    </div>
                    <div>
                        <label for="password">Contraseña:<a href="forgot_password.html" rel="forgot_password" class="forgot linkform">¿Olvido su password?</a></label>
                        <input type="password" id="password" name="_password" />
                        <span class="error">Hay un error</span>
                    </div>
                    <div class="bottom">
                        <div class="remember"><input type="checkbox" /><span>Recordar Contraseña</span></div>
                        <!--input type="submit" value="Ingresar"></input-->
                        <button type="submit">Ingresar</button>
                        <!-- <a href="register.html" rel="register" class="linkform">Aún no tienes una cuenta registrate aquí</a> -->
                        <div class="clear"></div>
                    </div>
                </form>

                <!--form class="forgot_password">
                    <h3>Recuperar contraseña</h3>
                    <div>
                        <label>Usuario o Email:</label>
                        <input type="text" />
                        <span class="error">No existe el usuario o email</span>
                    </div>
                    <div class="bottom">
                        <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" ></input>
                        <a href="index.html" rel="login" class="linkform">Si es miembro, ingresa aquí</a>
                        <a href="register.html" rel="register" class="linkform">No tienes una cuenta? Regístrate aquí</a>
                        <div class="clear"></div>
                    </div>
                </form-->
            </div>
        </div>
<!-- The JavaScript -->
        <!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script-->
        <script type="text/javascript">
            $(function() {
                    //the form wrapper (includes all forms)
                var $form_wrapper   = $('#form_wrapper'),
                    //the current form is the one with class active
                    $currentForm    = $form_wrapper.children('form.active'),
                    //the change form links
                    $linkform       = $form_wrapper.find('.linkform');
                        
                //get width and height of each form and store them for later                        
                $form_wrapper.children('form').each(function(i){
                    var $theForm    = $(this);
                    //solve the inline display none problem when using fadeIn fadeOut
                    if(!$theForm.hasClass('active'))
                        $theForm.hide();
                    $theForm.data({
                        width   : $theForm.width(),
                        height  : $theForm.height()
                    });
                });
                
                //set width and height of wrapper (same of current form)
                setWrapperWidth();
                
                /*
                clicking a link (change form event) in the form
                makes the current form hide.
                The wrapper animates its width and height to the 
                width and height of the new current form.
                After the animation, the new form is shown
                */
                $linkform.bind('click',function(e){
                    var $link   = $(this);
                    var target  = $link.attr('rel');
                    $currentForm.fadeOut(400,function(){
                        //remove class active from current form
                        $currentForm.removeClass('active');
                        //new current form
                        $currentForm= $form_wrapper.children('form.'+target);
                        //animate the wrapper
                        $form_wrapper.stop()
                            .animate({
                                width   : $currentForm.data('width') + 'px',
                                height  : $currentForm.data('height') + 'px'
                            },500,function(){
                                //new form gets class active
                                $currentForm.addClass('active');
                                //show the new form
                                $currentForm.fadeIn(400);
                            });
                    });
                    e.preventDefault();
                });
                
                function setWrapperWidth(){
                    $form_wrapper.css({
                        width   : $currentForm.data('width') + 'px',
                        height  : $currentForm.data('height') + 'px'
                    });
                }
                
                /*
                for the demo we disabled the submit buttons
                if you submit the form, you need to check the 
                which form was submited, and give the class active 
                to the form you want to show
                */
                $form_wrapper.find('input[type="submit"]')
                .click(function(e){
                    e.preventDefault();
                });
            });
        </script>
    </div>
{% endblock user_login %}
